<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h5><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h5>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :reviewer, style: "display: block" %>
    <%= form.text_field :reviewer %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.label :reply_content, style: "display: block" %>
    <%= form.text_area :reply_content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
